:root {
  --font-color-900: #212121;
  --font-color-600: #757575;
  --font-color-300: #E0E0E0;
  --font-color-100: #FAFAFA;
  --main-color: #1E1ECA;
}



@font-face {
  font-family: 'Gotham_Black';
  src: url('../font/Gotham-Black.woff') format("woff");
}

@font-face {
  font-family: "Gotham_Bold";
  src: url(/font/Gotham-Bold.woff) format("woff");
}

@font-face {
  font-family: "Gotham_Meduim";
  src: url(/font/Gotham-Medium.woff) format("woff");
}

@font-face {
  font-family: "Black Han Sans";
  src: url(/font/BlackHanSans-Regular.ttf) format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: NanumGothic;
  src: url(../font/NanumGothic-ExtraBold.ttf) format("ttf");
  font-weight: 800;
}

* {
  font-family: "Gotham", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

nav {
  height: 440px;
  display: flex;
}

.inner {
  width: 1440px;
  margin: 0px auto;
  /* border: 1px solid blue; */
  
}

.section-tit {
  font-size: 24px;
  font-family: "Gotham_Bold";
  /* font-weight: 800; */
  /* color: var(--font-color); */
}

/* 헤더 */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: rgba(255, 255, 255, 0.2); */
  z-index: 999;
}

.top-gnb {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 10px 0;
  display: inline-flex;
  justify-content: flex-end;

  /* css */

  background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.1)
}

.top-gnb li > a {
  font-size: 14px;
  font-family: "Gotham_Medium";
  /* font-weight: 600; */
  margin-right: 40px;
  transition: all 0.5s;
}

.top-gnb li > a:hover {
  color: #1e1eca;
}

.top-gnb li:nth-child(1) > a {
  /* margin-right: 8px; */
  /* font-weight: 800; */
}

/* 메인 비주얼 영역 */


.bg {
  position:absolute;
  left:0px; top:0px;
  width:100%; height:120%; z-index: -1000;

  background: url(../img/main-bg3.png) no-repeat;
  background-position: center -15vw;
  background-size: cover;
}

.bottom-bg {
  position:absolute;
  left:0px; bottom:0px;
  width:110%; 
  height:170%;
  z-index: -1000;
  background: url(../img/bottom-bg.png) no-repeat;
  background-position: center bottom -15vh;
  background-size: cover;
  /* transform: rotate(20deg); */
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-tit {
  font-size: 8vw;
  font-family: "Gotham_Black";
  color: #fff;
}

.left-title p {
  color: #fff;
}

.right-sub {
  margin-right: 120px;
}

.right-sub h2,
.right-sub p {
  color: #fff;
}

.right-sub .sub-tit {
  font-size: 2.5vw;
  font-family: "Gotham_Black";
  /* font-weight: 900; */
}

.right-sub p {
  padding-bottom: 0.5em;
  white-space: nowrap;
}

.sub-year {
  padding-bottom: 20px;
}

.sub-name {
  padding-bottom: 16px;
}

.tit-wrap {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 어바웃 */

.about {
  margin-bottom: 160px;
}

.section-tit {
  margin-bottom: 60px;
}

.skill-tit {
  font-size: 68px;
  font-family: "Gotham_Black";
  padding-bottom: 16px;
  /* color: var(--font-color); */
}

.about-top,
.about-btm {
  display: flex;
  justify-content: space-between;
}

.about-top {
  padding-bottom: 80px;
}

/*
.about-txt {
  flex: 1;
}
*/

/* project change */

.project {
  margin-bottom: 160px;
}

.project-change {
  font-size: 24px;
  /* font-weight: 900; */
  color: #1e1eca;
  opacity: 0.6;
}

.btn-active {
  font-family: "Gotham_Black";
  opacity: 1.0;
}

.project-sub {
  font-family: "Gotham_Medium";
  font-size:1.12vw;
  font-weight: 400;
}

.project .section-tit,
.btn-group {
  display: inline-block;
}

.project .section-tit {
  margin-right: 120px;
}

.project-wrap {
  position: relative;
  padding: 32px 0;
  /* border-top: 2px solid lightgray; */
  border-bottom: 2px solid lightgray;
  vertical-align: middle;
}

.project-tit {
  font-size: 48px;
  font-family: "Gotham_Black";
  /* font-weight: 900; */
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}

.project-wrap .project-index {
  color: #1e1eca;
  font-size: 32px;
  padding-right: 16px;
}

.project-skill {
  font-size: 20px;
  /* font-weight: 400; */
  font-family: "Gotham_Medium";
  color: lightgray;
}

.more-btn {
  /*
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  */
  color: #1e1eca;
  font-weight: 600;
  font-size: 20px;
  display: block;
  padding: 8px 0;
}

.mo-wrap {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* 비전 */

.my-vision {
  padding: 120px 0;
  position: relative;
  margin-bottom: 100px;
  width: 1920px;
  margin: 0px auto;
  /*
  background: url(/img/vision-bg.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  */
}

.vision-wrap {
  display: flex;
  margin-left: 240px;
  /* border: 1px solid green; */
  align-items: center;
}

/*
.black-bg {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 2;
}
*/
.my-vision p {
  /*color: #fff;*/
  color: #000;
}


.my-vision .inner {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* width: 1280px; */
  z-index: 333;
  position: relative;
  /* border: 1px solid blue; */
  overflow: hidden;
}

/* 오른쪽 보이는 영역 */

.viewport-wrap {
  width: 1200px;
  overflow: hidden;
}

.right-viewport {
/*  width: 100%;*/
/*  overflow: hidden;*/
/*border:1px solid red;*/
}

/* 오른쪽 그룹 */
.right-vision {
  display: flex;
  /* width: 1440px; */
  /* flex-wrap: nowrap; */
/*   border: 1px solid cornflowerblue;  */
  position: relative;
/*    font-family: Gotham_Black;*/


}

.right-vision p {
  font-family: Gotham_Black;
  color: transparent;
  -webkit-text-stroke: 1.5px #000;
  font-size: 44px;
  font-weight: 900;
  margin-right: 40px;
  flex-shrink: 0;
}



.right-vision .sub-para {
  line-height: 32px;
}

.inner-2 {
  display: inline-block;
}

.left-vision {
  /* display: inline-block; */
  flex: 0 0 480px;
  /* padding-right: 20px; */
  border-right: 1.5px solid lightgray;
  /* border: 1px solid pink; */
}

.my-vision .left-vision p:nth-child(2) {
  padding-top: 12px;
  padding-bottom: 8px;
}
.my-vision .right-vision p:nth-child(1) {
  /* font-weight: 900; */
  /* font-size: 48px; */
  /* padding-bottom: 16px; */
}

/* footer-sns */

.footer-sns {
  padding-top: 120px;
  height: 65vh;
  position: relative;
  /* background-color: #1e1eca; */
}

.footer-sns .inner {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.footer-sns p,
.footer-sns h2 {
  color: #fff;
}

.footer-sns .project-change {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}

.footer-sns .section-tit {
  margin-right: 120px;
}

.footer-sns .section-tit,
.footer-sns .btn-group {
  display: inline-block;
}

.thanks {
  font-size: 227px;
  font-weight: 900;
}

.copy-right {
  color: #fff;
  font-size: 15px;
  padding-right: 18px;
}

.text-align {
  text-align: right;
  margin-top: 40px;
}

/* 프로젝트 */

.project-view {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  background-color:#fbfbfb;

}

.prev-btn {
  display: block;
  /* width: 32px; */
  width: 1440px;
  height: 32px;
  /* background: url(../img/keyboard_arrow_right.svg) no-repeat
    center/contain;
  transform: rotate(-180deg); */
  font-weight: 400;
  position: absolute;
  /* left: 240px; */
  color: #464c52;
  top: 20px;
  font-size: 24px;
}

.left-detail {
  width: 40%;
}

.left-detail,
.right-detail {
  padding-top: 100px;
}

.project-link {
  /* color: #1e1eca; */
  /* font-weight: 600; */
  /* float: right; */
  padding: 8px 16px;
  /* border: 1px solid black; */
  background-color: black;
  font-size: 20px;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
  font-family: "Gotham_Bold";
  margin-right: 16px;
  margin-top: 32px;
  transition: 0.5s;
}

.project-link:hover{
  background-color: var(--main-color);
}

.project-use {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  /* font-size: 24px; */
  font-weight: 900;
  align-items: center;
  /* width: 100%; */
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
    padding-top: 20vh;
  width: 1440px;
}

.project-wrapper .sub-title {
  font-size: 24px;
  color: gray;
}
.project-wrapper .main-title {
  font-size: 48px;
  font-weight: 900;
  white-space: nowrap;
  padding-top: 16px;
  padding-bottom: 28px;
}

.project-article {
  line-height: 24px;
}

.use-wrap {
  padding-top: 48px;
}

.left-thumb {
  /* margin-top: 240px; */
  /* margin-left: 240px; */
  /* width: 640px; */
  height: 780px;
  /* border: 1px solid blue; */
  width: 600px;
  position: relative;
}

.right-thumb {
  width: 840px;  
}



.right-thumb img {
  object-fit: cover;
}

.sub-project-title{
  /* padding-top: 100px; */
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.new-wrap {
  padding-top: 80px;
  overflow: hidden;
}

.new-wrap-top {
  /* float: left; */
}






.sub-project-title p, .sub-project-title span {
  font-family: "NanumGothic", sans-serif;
}





.program-use {
  display: flex;
}

.program-use li {
  width: 32px;
  height: 32px;
  background-color: #767676;
  background-size: cover;
  margin-right: 12px;
}

.new-title {
  font-weight: 900;
}

.program-use .html {
  background: url(../img/html-icon.svg) no-repeat center;
}

.program-use .css {
  background: url(../img/css-icon.svg) no-repeat center;
}

.program-use .js {
  background: url(../img/javascript-icon.svg) no-repeat center;
}

.program-use .figma {
  background: url(../img/photoshop-icon.svg) no-repeat center;
}





.right-thumb {
  /* width: 1200px; */
} 


.use-tool {
  font-size: 16px;
  font-weight: 400;
  padding-left: 8px;
  color: gray;
}

/* 메인 태스크 */

.main-task {
  position: relative;
  padding: 200px 0;
}

.task-wrap {
  width: 400px;
}

.task-wrap li {
  display: block;
}

.task-wrap li > a {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid lightgray;
  color: lightgray;
  font-weight: 600;
  padding: 16px 0;
  font-size: 16px;
  transition: all 0.5s;
}
/*
.task-wrap li > a::after {
  content: "";
  display: inline-flex;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  background: url(/포트폴리오/img/keyboard_arrow_right.svg) no-repeat center;
}
*/
.task-list {
  color: #767676;
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
}

.task-box {
  display: none;
}

/* .task-wrap li:nth-child(1) > a {
  color: black;
  font-weight: 900;
} */

/* .code-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */

.code-sub {
  width: 50%;
}

/*
.code-detail {
  background-color: var(--font-color);
  border-radius: 4px;
  padding: 40px;
  width: 800px;
  height: 100%;
}
*/
.code-detail span {
  color: #fff;
}

.main-task .section-tit {
  margin-bottom: 0px;
}

.task-flex {
  /*display: flex;*/
  justify-content: space-between;
  padding: 40px 0;
}

.task-flex nav {
  display: flex;
  justify-content: space-between;
}



.code-title {
  font-weight: 800;
  line-height: 1.3;
}

.code-detail .code-desc {
  color: darkgray;
}

.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.black-han-sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.right-vision .korean-vision {
/*   font-family: Gotham; */
/*   font-weight: 900; */
   font-family: "Black Han Sans"; 
    padding-top:4px;

  /* font-style: normal; */
  -webkit-text-stroke: 0.05px #000
}

/* 코드 부분 */

.code-real {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  padding-top: 20px;
}

.code-title {
  position: absolute;
  top: -62px;
  left: 0;
}

.code-title p {
  font-weight: 400;
  padding-top: 8px;
}

.code-title span {
  font-weight: 400;
  padding-top: 8px;
}

.code-number {
  width:47px; 
   background-color:#eeeeee; 
   border-left:1px solid #e5ecef; 
  border-right:3px solid var(--font-color-300); 
   text-align:right;
}

.code-number .numberline {
  /* border: 1px solid red; */
  line-height: 32px;
  height: 32px;
  text-align: center;
}

.code .line01 {
  width:650px;
  border-right:1px solid #e5ecef; 
  color:black; font-size:12px;
  background-color: var(--font-color-100);
  font-family:inherit; 
  line-height: 32px;
  height: 32px;
  /* border: 1px solid blue; */
  padding-left: 8px;
}

.code .line02 {
  width:650px;
  border-right:1px solid #e5ecef;
  color:black; 
  font-size:12px;
  background-color:#fff;
  font-family:inherit; 
  /* padding:0.5em 0.5em 0.5em 1em;  */
  line-height: 32px;
  height: 32px;
  padding-left: 8px;

  /* border: 1px solid blue; */
}

.code-real p {
  font-family: "Gotham_Medium";
  white-space: pre;
}

.code-number .numberline p {
  color: var(--font-color-600);
}

.code-explain {
  color: var(--main-color)
}

