:root {
  --font-color-900: #212121;
  --font-color-600: #757575;
  --font-color-300: #e0e0e0;
  --font-color-100: #fafafa;
  --main-color: #1e1eca;
}

@font-face {
  font-family: "Mont_Heavy";
  src: url(../font/Mont-HeavyDEMO.otf);
}

@font-face {
  font-family: "Gotham_Black";
  src: url("../font/Gotham-Black.woff") format("woff");
}

@font-face {
  font-family: "Gotham_Bold";
  src: url(/font/Gotham-Bold.woff) format("woff");
}

@font-face {
  font-family: "Gotham_Meduim";
  src: url(/font/Gotham-Medium.woff) format("woff");
}

@font-face {
  font-family: "Black Han Sans";
  src: url(/font/BlackHanSans-Regular.ttf) format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nanum_Gothic";
  src: url(../font/NanumGothic-ExtraBold.ttf) format("ttf");
  font-weight: 800;
}

* {
  font-family: "Noto Sans KR", 'ad',  "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0px auto;
  position: relative;
  /* background-color: #eee; */
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
 /* display: none; */
}

body::after {
  content: '';
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: #212121;
  opacity: 0.6;
  left: 0;
  top: 0;
  display: none;
}

nav {
  height: 440px;
  display: flex;
}

.inner {
  width: 1440px;
  margin: 0px auto;
  /* border: 1px solid blue;   */
}

.section-tit {
  font-size: 36px;
  font-family: "Gotham_Black";
  /* font-weight: 800; */
  /* color: var(--font-color); */
}

/* 헤더 */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: rgba(255, 255, 255, 0.2); */
  z-index: 999;
}

.top-gnb-bg {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.top-gnb {
  width: 1440px;
  margin: 0px auto;
  /* width: 100vw; */
  /* margin-left: calc(-50vw + 50%); */
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.top-gnb li > a {
  font-size: 15px;
  font-family: "Gotham_Bold";
  /* font-weight: 600; */
  margin-right: 40px;
  transition: all 0.5s;
}

.top-gnb li > a:hover {
  color: #1e1eca;
}

/* 메인 비주얼 영역 */

.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 120%;
  z-index: -1000;

  background: url(../img/main-bg3.png) no-repeat;
  background-position: center -15vw;
  background-size: cover;
}

.bottom-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 110%;
  height: 170%;
  z-index: -1000;
  background: url(../img/bottom-bg.png) no-repeat;
  background-position: center bottom -15vh;
  background-size: cover;
  /* transform: rotate(20deg); */
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-tit {
  font-size: 8vw;
  /* font-family: "Gotham_Black"; */
  font-family: "Mont_Heavy";
  color: #fff;
}

.left-title p {
  color: #fff;
}

.right-sub {
  margin-right: 120px;
}

.right-sub h2,
.right-sub p {
  color: #fff;
}

.right-sub .sub-tit {
  font-size: 2.5vw;
  font-family: "Gotham_Black";
  /* font-weight: 900; */
}

.right-sub p {
  padding-bottom: 0.5em;
  white-space: nowrap;
}

.sub-year {
  padding-bottom: 20px;
}

.sub-name {
  padding-bottom: 16px;
}

.tit-wrap {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.left-title {
  opacity: 0;
  font-family: "Gotham_Black";
  transform : translateY(80%);
  transition: all 1.3s ease;
}

.right-sub {
  opacity: 0;
  transform : translateY(80%);
  transition: all 1.3s ease;
}


/* 어바웃 */

.about {
  margin-bottom: 160px;
  /* position: relative; */
}

.modal-body {
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
  height: 400px;
  border-radius: 4px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}

.modal-top{
  padding: 0 32px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-icon {
  display: inline-flex;
  font-size: 24px;
  font-family: "Gotham_Black";
  line-height: 40px;
}

.modal-icon::before{
  content: '';
  display: inline-flex;
  width: 120px;
  height: 120px;
  /* background: url(../img/react-icon-on.svg) no-repeat center; */
  /* background-size: cover; */
  margin-right: 12px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  opacity: 0.3;
}

.html-detail::before {
  background: url(../img/htmlcss-on.svg) no-repeat center;
  background-size: contain;
}

.react-detail::before{
  background: url(../img/react-icon-on.svg) no-repeat center;
  background-size: cover;

}

.figma-detail::before{
  background: url(../img/figma-icon-on.svg) no-repeat center;
  background-size: cover;

}

.js-detail::before{
  background: url(../img/js-jq-on.svg) no-repeat center;
  background-size: contain;
}
.mongo-detail::before{
  background: url(../img/mongodb-icon-on.svg) no-repeat center;
  background-size: cover;
}
.photo-detail::before{
  background: url(../img/ph-ai-on.svg) no-repeat center;
  background-size: contain;
}




.modal-skill li {
  font-family: "NanumGothic";
  line-height: 1.8;
}



.modal-explain {
  padding: 0 32px;
}

.modal-explain h3 {
  font-size: 16px;
}

.modal-skill {
  padding-top: 32px;
}

.close-btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../img/ic_baseline-close.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
}


 .modal-bg {
  position:absolute;
  display:none;
  /*justify-content: center;*/
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.3);
  z-index:999;
}  

.section-tit {
  margin-bottom: 60px;
}

.skill-tit {
  font-size: 68px;
  font-family: "Gotham_Black";
  padding-bottom: 16px;
  /* color: var(--font-color); */
}

.about-top,
.about-btm {
  display: flex;
  justify-content: space-between;
}

.about-top {
  padding-bottom: 80px;
}

/*
.about-txt {
  flex: 1;
}
*/

/* project change */

.project {
  margin-bottom: 180px;
}

.btn-active {
  color: #000;
}

.project-sub {
  font-family: "Gotham_Medium";
  font-size: 1vw;
  font-weight: 400;
}

.project .section-tit,
.btn-group {
  /* display: inline-block; */
}

.project .btn-group .project-change{
  cursor: pointer;
  font-size: 15px;
  color: lightgray;
  padding: 0;
  margin-right: 20px;
  font-family: "Gotham_Bold";
}

.project .btn-group .btn-active {
  color: #000;
  padding-bottom: 4px;
  border-bottom : 2px solid #000;
}



.project .section-tit {
  margin-right: 120px;
}

.project-wrap {
  position: relative;
  padding: 32px 0;
  /* border-top: 2px solid lightgray; */
  border-bottom: 2px solid lightgray;
  vertical-align: middle;
  cursor: pointer;
}

.project-total {
  padding-top: 20px;
  transition: all 0.5s;
}

.project-tit {
  font-size: 40px;
  font-family: "Gotham_Black";
  /* font-weight: 900; */
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}

.project-wrap .project-index {
  color: #1e1eca;
  font-size: 32px;
  padding-right: 16px;
  font-family: "Gotham_Bold";
}

.project-skill {
  font-size: 20px;
  /* font-weight: 400; */
  font-family: "Gotham_Medium";
  color: lightgray;
}

.more-btn {
  font-family: "Gotham_Bold";
  color: #1e1eca;
  font-weight: 600;
  font-size: 22px;
  display: block;
  padding: 8px 0;
}

.mo-wrap {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* 비전 */

.my-vision {
  padding: 120px 0;
  position: relative;
  margin-bottom: 100px;
  width: 1440px;
  margin: 0px auto;
  /*
  background: url(/img/vision-bg.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  */
}

.vision-wrap {
  display: flex;
  /* border: 1px solid green; */
  align-items: center;
}

/*
.black-bg {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 2;
}
*/
.my-vision p {
  /*color: #fff;*/
  color: #000;
}

.my-vision .inner {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* width: 1280px; */
  z-index: 333;
  position: relative;
  /* border: 1px solid blue; */
  overflow: hidden;
}

/* 오른쪽 보이는 영역 */

.viewport-wrap {
  width: 1200px;
  overflow: hidden;
}

.right-viewport {
  /*  width: 100%;*/
  /*  overflow: hidden;*/
  /*border:1px solid red;*/
}

/* 오른쪽 그룹 */
.right-vision {
  display: flex;
  /* width: 1440px; */
  /* flex-wrap: nowrap; */
  /*   border: 1px solid cornflowerblue;  */
  position: relative;
  /*    font-family: Gotham_Black;*/
}

.right-vision p {
  font-family: Gotham_Black;
  color: transparent;
  -webkit-text-stroke: 1.5px #000;
  font-size: 44px;
  font-weight: 900;
  margin-right: 40px;
  flex-shrink: 0;
}

.right-vision .sub-para {
  line-height: 32px;
}

.inner-2 {
  display: inline-block;
}

.left-vision {
  /* display: inline-block; */
  flex: 0 0 480px;
  /* padding-right: 20px; */
  /* border-right: 1.5px solid rgb(0, 0, 0, 0.8); */
  /* border: 1px solid pink; */
}

.my-vision .left-vision p:nth-child(2) {
  padding-top: 12px;
  padding-bottom: 8px;
}
.my-vision .right-vision p:nth-child(1) {
  /* font-weight: 900; */
  /* font-size: 48px; */
  /* padding-bottom: 16px; */
}

/* footer-sns */

.footer-sns {
  padding-top: 120px;
  height: 65vh;
  position: relative;
  /* background-color: #1e1eca; */
}

.footer-sns .inner {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-sns p,
.footer-sns h2 {
  color: #fff;
}

.footer-sns .project-change {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}

.footer-sns .section-tit {
  margin-right: 120px;
}

.footer-sns .section-tit,
.footer-sns .btn-group {
  display: inline-block;
}

.thanks {
  font-size: 5.2vw;
  font-family: "Gotham_Black";
}

.email-link {
  background-color: #fff;
  /* padding: 25px; */
  margin: 0px auto;
  border-radius: 50%;
  font-family: "Gotham_Bold";
  width: 125px;
  height: 125px;
  line-height: 125px;
  text-align: center;
  display: inline-block;
  transition: all 0.5s;
  margin-bottom: 20px;
}

.email-link:hover {
  background-color: var(--font-color-900);
  color: #fff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.sns-links a {
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
  transition: all 0.5s;
}

.sns-links a:hover {
  color: var(--font-color-900);
  border-bottom: 1px solid var(--font-color-900);
}

.sns-links a:nth-child(1) {
  margin-right: 20px;
}

.footer-box {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.copy-right {
  color: #fff;
  font-size: 15px;
  font-family: "Gotham_Medium";
  /* padding-right: 18px; */
  white-space: nowrap;
  padding-bottom: 4px;
  opacity: 0.6;
}

.text-align {
  text-align: right;
  /* margin-top: 40px; */
  padding-bottom: 8px;
}

/* 프로젝트 */

.project-view {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  /* background-color:#fbfbfb; */
}

.arrow-down {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: url(../img/arrow-down.svg) no-repeat center;
  transition: all 0.5s;
}

.prev-btn {
  display: block;
  width: 32px;
  width: 1440px;
  height: 32px;
  background: url(../img/arrow-prev-bold.svg) no-repeat left;
  /* transform: rotate(-180deg);  */
  /* font-weight: 400; */
  /* left: 0; */
  position: absolute;
  /* left: 240px; */
  color: #464c52;
  top: 20px;
  font-size: 20px;
  padding-left: 36px;
  padding-top: 8px;
}

.left-detail {
  width: 40%;
}

.left-detail,
.right-detail {
  padding-top: 100px;
}

.btn-wrap .project-link {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #000;
  color: #fff;
  margin-right: 20px;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-wrap #web-linker:hover .version-collect {
  display: block;
}



.project-link {
  /* padding: 12px 20px 12px 16px; */
  /* background-color: black;
  padding: 0 8px;
  font-size: 20px;
  border-radius: 8px;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: "Gotham_Bold";
  margin-right: 16px;
  transition: 0.5s;
  width: 100%;
  height: 100%; */
}

/* .project-link::after {
  content: "";
  background: url(/img/gg_arrow-up.svg) no-repeat center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
} */

.project-link:hover {
  background-color: var(--main-color);
}

#web-linker:hover {
  height: fit-content;
}





.project-use {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  /* font-size: 24px; */
  font-weight: 900;
  align-items: center;
  /* width: 100%; */
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
  padding-top: 10vh;
  width: 1440px;
}

.project-wrapper .sub-title {
  font-size: 24px;
  color: gray;
}
.project-wrapper .main-title {
  font-size: 48px;
  font-family: "Gotham_Black";
  white-space: nowrap;
  padding-top: 16px;
  padding-bottom: 28px;
}

.project-article {
  line-height: 24px;
}

.use-wrap {
  padding-top: 48px;
}

.left-thumb {
  /* margin-top: 240px; */
  /* margin-left: 240px; */
  /* width: 640px; */
  height: 600px;
  /* border: 1px solid blue; */
  width: 600px;
  position: relative;
}

.right-thumb {
  width: 840px;
}

.right-thumb img {
  object-fit: contain;
}

.sub-project-title {
  /* padding-top: 100px; */
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.new-wrap {
  padding-top: 120px;
  height: 120px;
}

.new-sub {
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: 600;
  color: gray;
}

.btn-wrap {
  display: flex;
}

.new-wrap-top {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
}

.version-collect {  
  display: none;
}

.version-collect a {
  display: block;
  font-family: "Gotham_Bold";
  /* white-space: nowrap; */
  color: #fff;
}

.version-collect a:hover {
  color: #000;
}



.sub-project-title p,
.sub-project-title span {
  font-family: "NanumGothic", sans-serif;
}

.program-use {
  display: flex;
}

.program-use li {
  width: 32px;
  height: 32px;
  background-color: #767676;
  margin-right: 12px;
}

.new-title {
  font-weight: 900;
}

.program-use .html {
  background: url(../img/html-icon.svg) no-repeat center;
  background-size: contain;
}

.program-use .css {
  background: url(../img/css-icon.svg) no-repeat center;
  background-size: contain;
}

.program-use .js {
  background: url(../img/javascript-icon.svg) no-repeat center;
  background-size: contain;
}

.program-use .figma {
  background: url(../img/figma-icon.svg) no-repeat center;
  background-size: contain;
}

.program-use .photo {
  background: url(../img/photoshop-icon.svg) no-repeat center;
  background-size: contain;
}



.right-thumb {
  /* width: 1200px; */
}

.use-tool {
  font-size: 16px;
  font-weight: 400;
  padding-left: 8px;
  color: gray;
}

/* 메인 태스크 */

.main-task {
  position: relative;
  /* padding: 200px 0; */
  height: 100vh;
}

.task-wrap {
  width: 400px;
}

.task-wrap li {
  display: block;
}

.task-wrap li > a {
  display: inline-block;
  width: 100%;
  border-bottom: 1.5px solid lightgray;
  color: lightgray;
  font-weight: 600;
  padding: 16px 0;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.task-wrap li:last-child > a {
  border-bottom: none;
}

.task-wrap a,
.task-wrap p {
  font-family: "NanumGothic";
}

/*
.task-wrap li > a::after {
  content: "";
  display: inline-flex;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  background: url(/포트폴리오/img/keyboard_arrow_right.svg) no-repeat center;
}
*/
.task-list {
  color: #767676;
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
}

.task-box {
  display: none;
}

/* .task-wrap li:nth-child(1) > a {
  color: black;
  font-weight: 900;
} */

/* .code-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */

.code-sub {
  width: 50%;
}

/*
.code-detail {
  background-color: var(--font-color);
  border-radius: 4px;
  padding: 40px;
  width: 800px;
  height: 100%;
}
*/
.code-detail span {
  color: #fff;
}

.main-task .section-tit {
  margin-bottom: 0px;
}

.task-flex {
  /*display: flex;*/
  justify-content: space-between;
  padding: 40px 0;
}

.task-flex nav {
  display: flex;
  justify-content: space-between;
}

.code-title {
  font-weight: 800;
  line-height: 1.3;
}

.code-detail .code-desc {
  color: darkgray;
}

.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.black-han-sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.right-vision .korean-vision {
  /*   font-family: Gotham; */
  /*   font-weight: 900; */
  font-family: "Black Han Sans";
  padding-top: 4px;

  /* font-style: normal; */
  -webkit-text-stroke: 0.05px #000;
}

/* 코드 부분 */

.code-real {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  padding-top: 20px;
}

.code-title {
  position: absolute;
  top: -62px;
  left: 0;
}

.code-title p {
  font-weight: 400;
  padding-top: 8px;
}

.code-title span {
  font-weight: 400;
  padding-top: 8px;
}

.code-number {
  width: 47px;
  background-color: #eeeeee;
  border-left: 1px solid #e5ecef;
  border-right: 3px solid var(--font-color-300);
  text-align: right;
}

.code-number .numberline {
  /* border: 1px solid red; */
  line-height: 32px;
  height: 32px;
  text-align: center;
}

.code .line01 {
  width: 650px;
  border-right: 1px solid #e5ecef;
  color: black;
  font-size: 12px;
  background-color: var(--font-color-100);
  font-family: inherit;
  line-height: 32px;
  height: 32px;
  /* border: 1px solid blue; */
  padding-left: 8px;
}

.code .line02 {
  width: 650px;
  border-right: 1px solid #e5ecef;
  color: black;
  font-size: 12px;
  background-color: #fff;
  font-family: inherit;
  /* padding:0.5em 0.5em 0.5em 1em;  */
  line-height: 32px;
  height: 32px;
  padding-left: 8px;

  /* border: 1px solid blue; */
}

.code-real p {
  font-family: "Gotham_Medium";
  /* white-space: pre; */
}

.code-number .numberline p {
  color: var(--font-color-600);
}

.code-explain {
  color: var(--main-color);
}

.skill-box {
  display: inline-block;
  width: 80px;
  height: 80px;
  transition: all 0.5s;
}

.html-icon {
  background: url(../img/html-icon.svg) no-repeat center;
  background-size: contain;
}
.css-icon {
  background: url(../img/css-icon.svg) no-repeat center;
  background-size: contain;
}
.js-icon {
  background: url(../img/javascript-icon.svg) no-repeat center;
  background-size: contain;
}
.jq-icon {
  background: url(../img/jquery-icon.svg) no-repeat center;
  background-size: contain;
}
.react-icon {
  background: url(../img/react-icon.svg) no-repeat center;
  background-size: contain;
  margin-right: 20px;
}
.figma-icon {
  background: url(../img/figma-icon.svg) no-repeat center;
  background-size: contain;
  margin-right: 20px;
}
.photo-icon {
  background: url(../img/photoshop-icon.svg) no-repeat center;
  background-size: contain;
  margin-right: 8px;
}
.illust-icon {
  background: url(../img/illustration-icon.svg) no-repeat center;
  background-size: contain;
  margin-right: 12px;
}
.mongo-icon {
  background: url(../img/mongodb-icon.svg) no-repeat center;
  background-size: contain;
  margin-right: 20px;
}

.illust-icon,
.photo-icon {
  width: 60px;
  height: 60px;
}

.icon-wrap {
  display: flex;
  flex: 0 0 160px;
  justify-content: end;
}

.skill-txt {
  padding-left: 20px;
  margin-bottom: 8px;
}

.skill-sub {
  line-height: 1.3;
  font-family: "Nanum_Gothic";
  font-size: 15px;
}

.skill-flex {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.skill-wrap {
  /* border: 1px solid green; */
  width: calc(33.33% - 20px);
  display: flex;
  align-items: center;
  position: relative;

}

.skill-title {
  font-family: "Gotham_Black";
  font-size: 20px;
  margin: 8px 0;
}

/* 섹션 디자인 */



.main-pg {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 80px;
}

.sub-pg{
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 80px;

}

/* .mo-back {
  padding-bottom: 80px;
} */

#mo-main {
  width: 360px;
  height: 840px;
  border-radius: 12px;
  overflow-y: scroll;
  margin-top: 40px;
  scrollbar-color: darkgray lightgray;
}

#mo-sub{
  width: 360px;
  height: 840px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 40px;
}


.mo-pgwrap{
  display: flex;
  justify-content: start;
}

/* .mo-pg::-webkit-scrollbar {
  width: 4px;
} */




.design-page {
  padding-bottom: 200px;
  position: relative;
}

.right-gnb {
  position: absolute;
  right: 60px;
  top: 20px;
}

.right-gnb li a {
  color: gray;
}

.fixed {
  position: fixed;
}


.right-gnb a {
  display: block;
  padding-bottom: 20px;
}

.design-page .section-tit {
  margin-bottom: 80px;
}

.design-item {
  /* width: calc(33.33% - 20px); */
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}

.top-btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 80px;
  height: 80px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
}

.how-design {
  text-align: left;
  margin-bottom: 40px;
}

.how-design p {
  font-size: 15px;
}

.how-design h2 {
  font-size: 32px;
  padding-bottom: 8px;
}


.mo-back {
  position: relative;
}

.mo-point-1 {
  position: absolute;
  top: 20%;
  left: 70%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  width: 340px;
}

.mo-point-2 {
  position: absolute;
  top: 30%;
  left: 70%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  width: 340px;

}

.mo-point-3 {
  position: absolute;
  top: 40%;
  left: 70%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  width: 340px;

}

#mo-main {
  margin-right: 40px;
}

#mo-sub img {
  height: 100%;
}

.top {
  position: relative;
  padding-top: 20px;
}


.top::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  background: url(../img/arrow-up-line.svg) no-repeat center;
}


/* media query */

@media screen and (min-width: 1440px) {
  /* 화면 너비가 768px 이상인 경우에만 적용되는 스타일 */
  .inner {
    width: 1440px;
  }

  .my-vision {
    width: 1440px;
  }
}

@media screen and (max-width: 1440px) {
  .inner {
    width: 1280px;
  }

  .my-vision {
    width: 1280px;
  }
}

/* sub-3.html css */

#random-btn {
  padding: 8px 12px;
  background-color: black;
  color: #fff;
  display: block;
  margin: 0px auto;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 20px;
  transition: all 0.5s;
  font-size: 18px;
}


#random-btn:hover {
  background-color: var(--main-color);
}



.img-area {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: -2000;
  border-radius: 4px;
  /* overflow: hidden; */
}

.img-area img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* left: 0; */
  /* top: 0; */
}

.hundred-day {
  position: relative;
  text-align: center;
  padding-bottom: 80px;
  height: 100vh;
}

.hundred-day .section-tit {
  margin-bottom: 12px;
}

.project-close {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 240px;
  top: 40px;
  background: url(../img/material-symbols_close.png) no-repeat center;
  background-size: cover;
}