@media all and (max-width:767px) {

  

    .right-vision .korean-vision {
      -webkit-text-stroke: 1px #000;
      letter-spacing: 1.5px;
    }
  
    .bottom-bg { height: 180%; }
  
    .react-icon { background-size: cover; }
  
    .button-box { padding-top: 20px; }
  
    .modal-body { width: calc(100% - 40px); overflow: auto; }
  
    .footer-top .section-tit { text-align: left; width: 100%; }
  
    .footer-top .sns-links a {
      color: transparent;
      width: 32px;
      height: 32px;
      display: inline-block;
      border-bottom: 0px;
    }
  
    .footer-top { flex-wrap: wrap; }
  
    .footer-top .sns-links {
      text-align: center;
      width: 100%;
      padding-top: 40px;
      justify-content: center;
    }
  
    .footer-top .sns-links .notion { background: url(../img/devicon_notion.svg) no-repeat center; background-size: cover;}
    .footer-top .sns-links .github { background: url(../img/devicon_github.svg) no-repeat center; background-size: cover; }
    .footer-top .sns-links .email { background: url(../img/devicon-outlook.svg) no-repeat center; background-size: cover; }
  
  
    .footer-top .section-tit {margin-bottom: 0px;}
  
    .sns-links { display: flex; align-items: center;}
  
    .footer-box {
      align-items: center;
      flex-wrap: wrap;
      padding-top: 40px;
    }
  
    .text-align {
      text-align: center;
      margin: 0px auto;
      padding-top: 20px;
    }
  
    .thanks {
      width: 100%;
      font-size: 32px;
      text-align: center;
    }
  
    .text-align .email-link { display: none; }
  
    .more-btn { display: none; }
  
  
    .project-index{
      width: 100%;
      text-align: center;
    }
  
    .project-name {
      width: 100%;
      text-align: center;
      margin-top: 12px;
      font-size: 30px;
    }
  
    .project-skill { text-align: center; }
  
    .project-tit {
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
    }
  
    .project-wrap { border-bottom: 1px solid lightgray; }
  
    .plus-sub { text-align: center; }
  
    .my-vision { width: 100%; padding: 0 20px;}
  
    .vision-wrap {
      text-align: center;
    }
  
    .left-vision {
      flex: auto;
    }
  
    #vision-title {
      font-size: 24px;
    }
  
    .viewport-wrap {
      margin-top: 40px;
    }
  
    .about {
      margin-bottom: 120px;
    }
  
    .project {
      margin-bottom: 120px;
    }
  
    .right-vision p {
      font-size: 32px;
    }
  
    .skill-title, .skill-sub {
      display: none;
    }
  
    .skill-flex {justify-content: space-around;}
    .icon-wrap a {margin-right: 0;}
    .icon-wrap {justify-content: center;}
  
    body .inner {
      width: 100%;
      padding:  0 20px;
    }
  
    .mo-gnb-wrap {
      display: block;
    }
  
    .skill-wrap {
      position: static;
    }
  
    .about-wrap {
      position: relative;
    }  
  
  
  
    #home .top-gnb.inner {
      justify-content: center;
      padding: 12px 0;
    }
  
    .top-gnb {
      display: none;
    }
  
    .section-tit, .project .section-tit {
      margin-right: 0;
      text-align: center;
    }
    
    .footer-sns .section-tit {
      margin-right: 0;
      text-align: center;
    }
  
    .project .btn-group {
      text-align: center;
    }
  
  
    .hero-tit {
      font-size: 14vw;
    }
  
    .tit-wrap {top: 50%; width: 100%;}
  
    .hero {
      height: 50vh;
    }
  
    .right-sub {
      display: none;
    }
  
    .tit-wrap {
      justify-content: center;
    }
  
    .section-tit {
      font-size: 24px;
    }
  
    .etc-wrap {
      flex-wrap: wrap;
    }
  
    .etc-wrap .etc-box {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .project-total .etc-wrap:nth-child(1) {
      padding-bottom: 0;
    }
    
    .main-task {
      display: none;
    } 
  
    .design-page {
      display: none;
    }
  
    .project-wrapper {
      width: 100%;
    }
  }